{% extends 'base.html' %}

{% block title %}add post{% endblock %}

{% block content %}
<h3 class="m-2 p-2">add a post</h3>

<form class="m-2 p-2" id="add-post-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <div>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>

    {% endfor %}
    <div id="tag-list" class="m-3">
    {% for tag in tags %}
        {% include "tag_button_no_link.html" %} 
    {% endfor %}
    </div>

    <div>
        <button id="open-tag-modal" type="button" style="display: none;" class="btn btn-primary btn-sm m-3" data-bs-toggle="modal" data-bs-target="#add-tag-modal">
            Add a new tag
        </button>
    </div>

    <button class="btn btn-sm btn-primary" type="submit">Submit</button>
</form>

{% include "tag_modal.html" %}

{% endblock %}