<article class="card flex-row flex-wrap m-2 p-2" data-parent-comment-id="{{comment.id}}">
    <div class="card-block px-2">
        <p class="card-text my-0">{{comment.content}}</p>
        <p class="card-text my-0">
            <small class="text-muted">
                by <a href="/users/{{post_id}}">{{comment.user.username}}</a> | 
                posted on {{comment.created_at}}
            </small>
        </p>
        <p class="card-text my-0">
            <small>
                <button class="show-reply-form btn btn-sm btn-link">reply</button>
                <button class="show-replies btn btn-sm btn-link">show replies</button>
            </small>
        </p>
        <form class="m-2 p-2 d-none">
            {{ form.hidden_tag() }} <!--add type=hidden form fields -->

            {% for field in form
            if field.widget.input_type != 'hidden' %}
        
            <div>
                {{ field.label }}
                {{ field }}
        
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
        
            {% endfor %}
        
            <button type="submit" class="add-comment btn btn-sm btn-outline-primary my-2">submit</button>
            <button class="close-reply-form btn btn-sm btn-outline-dark my-2">cancel</button>
        </form>
        <div class="replies">
            
        </div>
    </div>
</article>