<article class="card flex-row flex-wrap m-2 p-2" data-content-type="comment" data-id="{{comment.id}}">
    <div class="card-block px-2">
        <p class="card-text my-0">{{comment.content}}</p>
        <p class="card-text my-0">
            <small class="text-muted">
                {% if g.user %}
                    {% if comment.id in g.liked_comment_ids %}
                    <i class="vote bi bi-arrow-up-circle text-primary" data-vote="1"></i>
                    {% else %}
                    <i class="vote bi bi-arrow-up-circle" data-vote="1"></i>
                    {% endif %}
                {% else %}
                    <a href="/login"><i class="bi bi-arrow-up-circle" style="color: lightgray"></i></a>
                {% endif %}
                <span class="vote-total"><b>{{comment.score}}</b></span>
                {% if g.user %}
                    {% if comment.id in g.disliked_comment_ids %}
                    <i class="vote bi bi-arrow-down-circle text-danger" data-vote="-1"></i> | 
                    {% else %}
                    <i class="vote bi bi-arrow-down-circle" data-vote="-1"></i> | 
                    {% endif %}
                {% else %}
                    <a href="/login"><i class="bi bi-arrow-down-circle" style="color: lightgray"></i></a>
                {% endif %}
                by <a href="/users/{{comment.user.id}}">{{comment.user.username}}</a> | 
                posted {{comment.created_at.strftime("%I:%M %p on %a %B %d, %Y")}}
            </small>
        </p>
        <p class="card-text my-0">
            <small>
                <button class="show-reply-form btn btn-sm btn-link">reply</button>
                <button class="show-replies btn btn-sm btn-link">show replies ({{comment.replies | length}})</button>
            </small>
        </p>
        <form class="m-2 p-2 d-none">
            {{ form.hidden_tag() }} <!--add type=hidden form fields -->

            {% for field in form
            if field.widget.input_type != 'hidden' %}
        
            <div>
                {{ field.label }}
                {{ field }}
        
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
        
            {% endfor %}
        
            <button type="submit" class="add-comment btn btn-sm btn-outline-primary my-2">submit</button>
            <button class="close-reply-form btn btn-sm btn-outline-dark my-2">cancel</button>
        </form>
        <div class="replies">
            
        </div>
    </div>
</article>