{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block content %}
<h1>login</h1>

<form id="add-post-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <div>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>

    {% endfor %}

    <button class="btn btn-primary" type="submit">Login</button>
</form>

<span>not yet registered? <a href="/register">click here!</a></span>

{% endblock %}