{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block content %}
<h3 class="m-2 p-2">login</h3>

<form class="m-2 p-2" id="add-post-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <div>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>

    {% endfor %}

    <button class="btn btn-sm btn-primary" type="submit">Login</button>
</form>

<h6 class="m-2 p-2">not yet registered? <a href="/signup">click here!</a></h6>

{% endblock %}