{% extends 'base.html' %}

{% block title %}nebbit{% endblock %}

{% block content %}

<section id="post" data-post-id="{{post.id}}">
    <div class="card flex-row flex-wrap m-2 p-2">
        <div class="card-header border-0 p-0">
            <img width="300px" src="{{post.img_url}}" alt="" />
        </div>
        <div class="card-block px-2 m-2">
            <a style="color: inherit" href="/posts/{{post.id}}"><h5 class="card-title">{{post.title}}</h5></a>
            <p class="card-text"><small class="text-muted">
                by <a href="/users/{{post.user.username}}">{{post.user.username}}</a> | 
                posted {{post.created_at.strftime("%I:%M %p on %a %B %d, %Y")}} | 
                tagged in {% for tag in post.tag_list %}<a href="#"> {{ tag }} </a>{% endfor %}</small>
            </p>
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>
</section>

<article id="add-parent-comment" data-comment-id="-1">
    <form class="m-2 p-2">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
        {% for field in form
        if field.widget.input_type != 'hidden' %}
    
        <div>
            {{ field.label }}
            {{ field }}
    
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
    
        {% endfor %}
    
        <button type="submit" class="add-comment btn btn-sm btn-outline-primary my-2">submit</button>
    </form>
</article>

<section id="comments">
    {% for comment in parent_comments %}
    {% include "comment.html" %}
    {% endfor %}
</section>

{% endblock %}