{% extends 'base.html' %}

{% block title %}rebbit{% endblock %}

{% block content %}

<article id="post" data-content-type="post" data-id="{{post.id}}">
    <div class="card flex-row flex-wrap m-2 p-2">
        <div class="card-header border-0 p-0">
            <img width="300px" src="{{post.img_url}}" alt="" />
        </div>
        <div class="card-block px-2 m-2">
            <a style="color: inherit" href="/posts/{{post.id}}"><h5 class="card-title">{{post.title}}</h5></a>
            <p class="card-text"><small class="text-muted">
                {% if g.user %}
                    {% if post.id in g.liked_post_ids %}
                    <i class="vote bi bi-arrow-up-circle text-primary" data-vote="1"></i>
                    {% else %}
                    <i class="vote bi bi-arrow-up-circle" data-vote="1"></i>
                    {% endif %}
                {% else %}
                    <a href="/login"><i class="bi bi-arrow-up-circle" style="color: lightgray"></i></a>
                {% endif %}
                <span class="vote-total"><b>{{post.score}}</b></span>
                {% if g.user %}
                    {% if post.id in g.disliked_post_ids %}
                    <i class="vote bi bi-arrow-down-circle text-danger" data-vote="-1"></i> | 
                    {% else %}
                    <i class="vote bi bi-arrow-down-circle" data-vote="-1"></i> | 
                    {% endif %}
                {% else %}    
                    <a href="/login"><i class="bi bi-arrow-down-circle" style="color: lightgray"></i></a> |
                {% endif %}                
                by <a href="/users/{{post.user.username}}">{{post.user.username}}</a> | 
                posted {{post.created_at.strftime("%I:%M %p on %a %B %d, %Y")}} | 
                tagged in {% for tag in post.tag_list %}<a href="#"> {{ tag }} </a>{% endfor %}</small>
            </p>
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>
</article>

{% if g.user %}
<article id="add-parent-comment" data-id="-1">
    <form class="m-2 p-2">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
        {% for field in form
        if field.widget.input_type != 'hidden' %}
    
        <div>
            {{ field.label }}
            {{ field }}
    
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>
    
        {% endfor %}
    
        <button type="submit" class="add-comment btn btn-sm btn-outline-primary my-3">Submit</button>
    </form>
</article>
{% endif %}

<section id="comments" data-pages="1">
    {% for comment in parent_comments %}
    {% include "comment.html" %}
    {% endfor %}
</section>

<button id="load-comments" class="btn btn-sm btn-outline-primary m-2">Load More</button>

{% endblock %}