<article class="card flex-row flex-wrap m-2 p-2" data-content-type="post" data-id="{{post.id}}">
    <div class="card-header border-0 p-0">
        <img width="80px" src="{{post.img_url}}" alt="" />
    </div>
    <div class="card-block px-2 m-1">
        <a style="color: inherit" href="{{post.url}}"><h5 class="card-title">{{post.title}}</h5></a>
        <p class="card-text">
            <small class="text-muted">
                <i class="vote bi bi-arrow-up-circle" data-vote="1"></i>
                <span id="vote-total"><b>{{post.votes}}</b></span>
                <i class="vote bi bi-arrow-down-circle" data-vote="-1"></i> | 
                <a href="/posts/{{post.id}}">comments</a> | 
                posted {{post.created_at.strftime("%I:%M %p on %a %B %d, %Y")}} | 
                by <a href="/users/{{post.user.username}}">{{post.user.username}}</a> | 
                tagged in {% for tag in post.tag_list %}<a href="/tags/{{tag}}"> {{ tag }} </a>{% endfor %}
            </small>
        </p>
    </div>
</article>