{% extends 'base.html' %}

{% block title %}add tag{% endblock %}

{% block content %}
<h3 class="m-2 p-2">explore tags</h3>

<form class="m-2 p-2" id="search-tag-form">
    {{ search_form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in search_form
    if field.widget.input_type != 'hidden' %}

    <div>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>

    {% endfor %}
</form>

<div class="m-3" id="tag-list">
    {% for tag in tags %}
        {% include "tag_button.html" %} 
    {% endfor %}
</div>

{% if g.user %}
<button id="open-tag-modal" type="button" style="display: none;" class="btn btn-primary btn-sm m-3" data-bs-toggle="modal" data-bs-target="#add-tag-modal">
    Add a new tag
</button>
{% endif %}


{% include "tag_modal.html" %}



{% endblock %}